.eggs
dist
tmp.py
.DS_Store
**/__pycache__/
*.so
core.py
pystare.egg-info/*
build/*
dist/
PySTARE_wrap.cpp
pystare.py
.directory
/.project
/.pydevproject
__init__.cpython-*
intervals.cpython-*
*~
test_*.cpython-*
*.ipynb_checkpoints
docs/build/*
docs/source/reference/api/*
docs/source/reference/api2/*
